[Unit]
Description=Sync account to Google Drive
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rclone-jobs/gdrive-account.sh
