// Option 1: Blurred Overview Wallpaper
// Option 1 requires “Enable overview wallpaper” to be turned ON in Noctalia’s settings on the Wallpaper tab. It also uses more memory as it handles an extra wallpaper per monitor.
// Set the overview wallpaper on the backdrop.
layer-rule {
 match namespace="^noctalia-overview*"
 place-within-backdrop true
}

// Option 2: Stationary Wallpaper
// Option 2 requires “Enable overview wallpaper” to be turned OFF in Noctalia’s settings on the Wallpaper tab.
// Set the regular wallpaper on the backdrop.
// layer-rule {
//   match namespace="^noctalia-wallpaper*"
//   place-within-backdrop true
// }

// // Set transparent workspace background color so you see the backdrop at all times.
// layout {
//   background-color "transparent"
// }

// // Optionally, disable the workspace shadows in the overview.
// overview {
//   workspace-shadow {
//     off
//   }
// }